  <!-- Footer -->

  <footer class="footer px-5">
    <div class="footer-container p-5">
        <!-- Column 1: About -->
        <div class="footer-section about">
            <h2>Colorlib</h2>
            <p>
                A small river named Duden flows by their place and supplies it with the necessary regelialia. 
                It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            </p>
            <div class="social-icons">
                <a href="https://web.facebook.com/rwandahealth/?fref=ts&_rdc=1&_rdr"><i class="fab fa-facebook"></i></a>
                <a href="https://www.flickr.com/photos/mohrwanda/"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="https://x.com/RBCRwanda"><i class="fab fa-x-twitter"></i></a>
                <a href="https://www.tiktok.com/@rwanda.health/video/7400478065198910725?_t=8ogMq80G2lR&_r=1"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>

        <!-- Column 2: Latest News -->
        <div class="footer-section news">
            <h2>Latest News</h2>
            <div class="news-item">
                <p>Even the all-powerful Pointing has no control about</p>
                <span>Oct 16, 2019 | Admin | 19</span>
            </div>
            <div class="news-item">
                <p>Even the all-powerful Pointing has no control about</p>
                <span>Oct 16, 2019 | Admin | 19</span>
            </div>
        </div>

        <!-- Column 3: Quick Links -->
        <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./News.html">Lates News</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./rewards.html">View Donating Rewards</a></li>
                <li><a href="./aboutBlood.html">About Blood</a></li>
                <li><a href="./WhoweAre.html">Who we Are</a></li>
                <li><a href="./BeforeAfter.html">Before $ After Donating</a></li>
                <li><a href="./Eligibility.html">Eligibility</a></li>
             
            </ul>
        </div>

        <!-- Column 4: Contact Info -->
        <div class="footer-section contact">
            <h2>Have a Questions?</h2>
            <p>Kigali, Kigali-City , Rwanda</p>
            <p>+250 781 676 495</p>
            <p>rwandabloodbridge@gmail.com</p>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="footer-bottom">
        <p>&copy;2024 Rwanda Biomedical Centre.  <i class="fas fa-heart"></i> by <a href="#">All Rights Reserved.</a></p>
    </div>
</footer>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
<script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
