<a href="#" onclick="changeTopLocation('/'); return false;" class=" py-1 px-2 mb-2 bg-red-500 rounded-md mt-4  left-0 text-white" >Go to Home</a>



    <script>
        function changeTopLocation(url) {
           
            top.location.href = url;
        }
    </script>


