<header class="bg-red-800 text-white p-4 flex justify-between items-center fixed top-0 w-full z-50">
    <!-- Logo and Title -->
    <a href="/" class="flex items-center space-x-3">
        <img src="./images/blood.png" alt="Rwanda Blood Bridge Logo" class="h-8 w-8 bg-white rounded-md">
        <div class="title">
            <h1 class="md:text-2xl text-md font-bold">Rwanda Blood Bridge</h1>
        </div>
    </a>

    <!-- Toggler button (visible on small screens) -->
    <button id="menu-toggler" class="block md:hidden text-white focus:outline-none">
        <!-- Icon from Heroicons -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
    </button>
</header>
