<div id="loading-spinner" class="fixed flex rounded-lg items-center justify-center bg-gray-400 bg-opacity-50 backdrop-blur-sm z-50 hidden">
    <div class="bg-white p-6 w-400 h-400 rounded-lg shadow-lg flex flex-col items-center">
        <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-red-500 border-opacity-100"></div>
        <p class="mt-4 text-gray-900 text-lg font-semibold">Loading...</p>
    </div>
</div>
