
<button onclick="logout()" class=" py-2 px-4 mb-2 bg-red-500 rounded-md mt-4 hover:bg-red-900 left-0 text-white text-center">logout</button>

<script>
    function logout() {
    // Send POST request to logout endpoint
    fetch('/api/logout', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then(response => {
        if (response.ok) {
            // Remove token from local storage
            localStorage.removeItem('token');
            // Redirect the entire window (out of the iframe)
            window.top.location.href = '/';
        } else {
            // Handle errors if needed
            console.error('Logout failed');
        }
    })
    .catch(error => {
        console.error('Error during logout:', error);
    });
}

</script>
