<!DOCTYPE html>
<html lang="en">
 <%- include("../partials/header-iframes.ejs") %>
<body class="p-6 pt-5">
    <%- include('../partials/goback.ejs')%>
    <h2 class="text-2xl font-semibold mb-4 mt-6"><%= title %></h2>
    <div class="bg-white p-4 rounded-lg shadow-md mb-4 flex justify-between items-center">
        <div>
            <span class="text-gray-700 font-medium">John Doe - 2024-09-18</span>
        </div>
        <div class="flex space-x-4">
            <button class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded">Approve</button>
            <button class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded">Deny</button>
        </div>
    </div>
</body>
</html>
