<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>All Appointments</title>
</head>


<body class="p-6 pt-5" style="margin:0 !important;">

    <%- include('../partials/goback.ejs')%>
    <h2 class="text-2xl font-semibold mb-4 mt-6 ">All Appointments</h2>
    <div class="bg-white p-6 rounded shadow">
        <p class="text-gray-700">Here are all the appointments you’ve made:</p>
        <ul class="mt-4 space-y-2">
            <li class="p-4 bg-gray-100 rounded">Appointment on <strong>25th Sept 2024</strong> at <strong>City Hospital</strong></li>
            <li class="p-4 bg-gray-100 rounded">Appointment on <strong>15th Oct 2024</strong> at <strong>Red Cross Center</strong></li>
        </ul>
    </div>
</body>
</html>
