<html lang="en">

<%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/navbar.ejs') %>
    
        <!-- Hero Section -->
        <section class="hero flex justify-center items-center">
            <div class="hero-content ">
                <h1 class="flex text-dark">OOPS Page not found!</h1>
            </div>
        </section>
    
    </body>
</html>