<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>

    <%- include('./partials/navbar.ejs') %>

      <!-- Benefits of Blood Donation Section -->
      
        <section id="benefits-section">
            <div class="container">
                <div class="benefits-grid">
                    <div class="benefit-card">
                        <h3>Save Lives</h3>
                        <p>Donating blood helps save lives. It is used in surgeries, trauma care, and to support those battling illnesses like cancer.</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Improve Health</h3>
                        <p>Regular blood donation can help reduce the risk of heart disease and other health issues by balancing iron levels in your body.</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Free Health Checkup</h3>
                        <p>When you donate blood, you receive a free health screening, which includes a mini physical to check your health status.</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Boost Well-being</h3>
                        <p>Helping others by donating blood can improve your emotional and mental well-being, giving you a sense of satisfaction.</p>
                    </div>
                </div>
            </div>
        </section>
     
      
 
    <%- include('./partials/footer.ejs') %>
</body>
</html> 