<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <!-- Top Nav Bar -->
<!-- Top Nav Bar -->
<%- include('./partials/navbar.ejs') %>

    <section id="dashboard-section">
        <div class="dashboard-container">
          <ul class="dashboard-menu">
            <li><i class="icon-appointments"></i> All Appointments <i class="icon-arrow-right"></i></li>
            <li><i class="icon-calendar"></i> When to Donate <i class="icon-arrow-right"></i></li>
            <li><i class="icon-location"></i> Drives Near You <i class="icon-arrow-right"></i></li>
            <li><i class="icon-health"></i> My Health Screening <i class="icon-arrow-right"></i></li>

            <li><i class="icon-card"></i> View My Donor Card <i class="icon-arrow-right"></i></li>
           
            <li><i class="icon-safety"></i> Safety Guidelines <i class="icon-arrow-right"></i></li>
          </ul>
        </div>
      </section>
      <%- include('./partials/footer.ejs') %>
    </body>
   </html>