<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>   
<body>
   
<!-- Top Nav Bar -->

<%- include('./partials/navbar.ejs') %>

    <!-- Sign-in Section -->
    <section id="auth-section">
        <div class="auth-container ">
            <h2>Login</h2>
            <form id="login-form">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter Username" required>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter Password" required>
                
                <button type="submit">Sign-in</button>
                <div class="keep-signed-in">
                    <input type="checkbox" id="keep-signed-in">
                    <label for="keep-signed-in">Keep Me Signed In</label>
                </div>
                <a href="./forgotPass" class="forgot-password">I Forgot My Username/Password</a>
            </form>
            <a href="./signup" class="create-account-link">I Need to Create an Account</a>
            <div class="account-benefits">
                <p><strong>Account Benefits:</strong> Create an account to easily schedule future appointments, manage existing appointments, see your blood type, view results of your mini-physical, and track donation history.</p>
            </div>
        </div>
        <%- include("./partials/loading.ejs") %>
    </section>

    <!-- Popup Alert -->
    <div class="alert" style="display: none; position: fixed; top: 10%; left: 50%; transform: translateX(-50%); padding: 10px; color: white; font-weight: bold; border-radius: 5px;"></div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    <script src="/js/login.js"></script> <!-- Link to your login.js script -->
</body>
</html>
