<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
  
    
<!-- Main Content Section -->
<main id="who-we-are">
    <!-- Our History Section -->
    <section class="content-section">
        <h2><i class="fas fa-history"></i> Our History</h2>
        <p>RBC was established in 2011 through a merger of fourteen key health institutions. RBC strives to improve the health of the Rwandan population by providing high quality, affordable and sustainable health care services...</p>
    </section>

    <!-- Our Values Section -->
    <section class="content-section">
        <h2><i class="fas fa-bullseye"></i> Mission</h2>
        <div class="content-container">
            <!-- <img src="path/to/values.jpg" alt="Our Values" class="related-image"> -->
            <div class="text-content">
                <p><i class="fas fa-handshake"></i> RBC promotes high quality, affordable, and sustainable health care services to the population through evidence-based interventions and practices...</p>
            </div>
        </div>
    </section>

    <!-- Vision Section -->
    <section class="content-section">
        <h2><i class="fas fa-eye"></i> Vision</h2>
        <div class="content-container">
            <!-- <img src="path/to/vision.jpg" alt="Our Vision" class="related-image"> -->
            <div class="text-content">
                <p><i class="fas fa-lightbulb"></i> To become a Center of Excellence for the prosperity of the country, ensuring quality health service delivery, education and research.</p>
            </div>
        </div>
    </section>

    <!-- Our Team Section -->
    <section class="content-section">
        <h2><i class="fas fa-users"></i> Meet Our Team</h2>
        <div class="content-container">
            <!-- <img src="path/to/team.jpg" alt="Our Team" class="related-image"> -->
            <div class="text-content">
                <p><i class="fas fa-user-md"></i> Our dedicated team of professionals works tirelessly to manage blood donations, coordinate with hospitals, and engage with the community...</p>
            </div>
        </div>
    </section>

    <!-- Our Partners Section -->
    <section class="content-section">
        <h2><i class="fas fa-handshake"></i> Our Partners</h2>
        <p><i class="fas fa-hospital"></i> We collaborate with hospitals, government agencies, and non-profit organizations to ensure that our services reach those who need them the most...</p>

        <section class=" partners-section" style="display: flex; ">
        <div class="card" style="background-color: #ffffff; ">
            <img src="images/united nation.png" alt="Image 1">    
        </div>

        <div class="card"  style="background-color: #ffffff;">
            <img src="images/university of rwanda.png" alt="Image 1"> 
        </div>

        <div class="card" style="background-color: #ffffff;">
            <img src="images/usaid.png" alt="Image 1"> 
        </div>

        <div class="card" style="background-color: #ffffff;">
            <img src="images/paterners.png" alt="Image 1"> 
        </div>
        <div class="card" style="background-color: #ffffff;">
            <img src="images/paterns.png" alt="Image 1"> 
        </div>

        <div class="card" style="background-color: #ffffff;">
            <img src="images/imbuto.png" alt="Image 1"> 
        </div>
        
    </section>
    </section>
</main>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>   

</body>

</html>